body {
    background-image: url("https://cdn.pixabay.com/photo/2020/11/26/17/24/sunlight-5779692_960_720.jpg");
}

.container {
    background-color: white;
    margin-top: 5%;
}

.picture {
    margin: 10px;
}

p {
    margin: 10px;
}

.navbar-brand {
    font-weight: bold;
    background-color: teal;
}

.navbar-dark .navbar-nav .nav-link {
    color: grey;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: black;
}