/* adds background image to website */
body {
    background-image: url("./images/bg_img.jpg");
}

/* adds style to content container on each page */
.container {
    padding: 20px;
    padding-bottom: 0;
    margin-top: 5%;
    margin-bottom: 0;
}

#profilePic {
    display: block;
    max-width: 230px;
    max-height: 300px;
    width: auto;
    height: auto;
}

/* custom style for h1 on all pages*/
h1 {
    color: teal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* styles navbar brand */
.navbar-brand {
    font-weight: bold;
}

/* changes text color of navbar brand in order to contrast with background color */
.navbar-light .navbar-brand {
    color: teal;
}

/* styles color of submit button on contact page */
.btn-primary {
    background-color: teal;
    border-color: teal;
}

#portfolio {
    background-color: white;
    padding: 10px;
    margin-bottom: 0;
}

.gy-4 {
    margin-left: 0;
    margin-bottom: 24px;
}

.row {
    background-color: white;
}

h1 {
    padding: 10px;
    background-color: white;
}

.footer {
    position: relative;
    margin: 0;
    margin-top: 50px;
    bottom: 0;
    width: auto;
    color: black;
    text-align: center;
    background-color: white;
}

/* responds to smaller screen size and adjusts container layout */
@media screen and (max-width: 400px) {
    .container {
        max-width: 90%;
        float: none;
    }
}