body {
    background-image: url("./bg_img.jpg");
}

.container {
    background-color: white;
    margin-top: 5%;
    padding: 20px;
}

h1 {
    color: teal;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.picture {
    margin-right: 15px;
}

.navbar-brand {
    font-weight: bold;
    background-color: teal;
}

.navbar-dark .navbar-nav .nav-link {
    color: grey;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: black;
}